body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(246, 247, 246);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 50px;
}

.logo {
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

section {
    padding: 100px 150px;
}

.main {
    background: url('https://png.pngtree.com/thumb_back/fw800/background/20231009/pngtree-3d-illustration-of-a-student-engaged-in-an-online-classroom-image_13559709.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        font-size: 1.5em;
    }

    section {
        padding: 50px 20px;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 1.2em;
    }

    section {
        padding: 30px 10px;
    }
}
